# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL"

# NAGORIK_PAY_BRAND_KEY: Nagorik Pay Automatic Payment Gateway Brand Key (Kept server-side)
NAGORIK_PAY_BRAND_KEY="jDivuHJwPI4IuJZe2acX6QVewnPRtQBwAEEDlzLbc8T4PN46kK"

# ADMIN_PASSWORD: Password for Tech Promotion BD Admin Dashboard
ADMIN_PASSWORD="admin_tpbd_2026"
